/* import fonts from fonts css file */

@import url(./fonts.css);

/* import css variables file */
@import url(./partials/_variables.css);

/* Global css*/
@import url(./partials/_global.css);


/*  Start Navigation */

.navbar-brand{

    padding-left: 2rem;
    padding-top: 0rem;
    padding-right: 5rem;
    padding-bottom: 0rem;
}

.navbar{
    padding:1rem 20rem;
}

ul.navbar-nav{
    margin-left:20rem;
}

.nav-link{
    font-family:var(--roboto);
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.7rem;
    margin-right: 2.5rem;
    color: var(--title-color);
    
}

li.nav-item a.nav-link.active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

li.nav-item a.nav-link:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    
    
}

/*  End Navigation */




/*  Start Banner Area */

.site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 600;

}

.site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-banner .site-title h1{
    font-size: 5rem;
}

.site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-banner.banner-image>img{
    padding: 7rem 0;
    width: 90rem;
}


/*  End Banner Area */


/* Start About Area */

.about-area{
    padding: 8rem 5rem;
}

.about-area .about-title h2 > span{
    display: block;
    font-size: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.about-area .about-title p{
    padding: .4rem 0;
}
/*  End About Area */


/*  Start Brand Area */

.brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.col-lg-4{

    display: flex;
    justify-content: center;
}

.single-brand{

    border: 1px solid var(--boarder-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0rem;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
    
}

.single-brand img{
    width: 50%;
}

.single-brand:hover{
    box-shadow: var(--box-shadow) ;
    transform: scale(1.1);
}

.single-brand img:hover{
    filter: brightness(0.15);
}

.experience-area{
    padding-left: 0rem;

}

.experience-area span{
    display: block;
}

.years-area{
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    position: relative;
}

.years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.years-area h2>span{
    font: normal 600 22px/30px var(--roboto);

}

.call-area{
    padding-left: 2.5rem;

}

.call-area a{
    text-decoration:none;
}

.call-area a:hover{
    text-decoration:underline;
}



/*  End Brand Area */



/*  Start Services Area */


.services-area{
    padding: 7rem 2rem;
}

.services-title{
    padding: 0 14rem;
}
.services-title h1{
    font-size: 35px;
    text-align: center;
}

.services{
    background-color:rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.services:hover{
    box-shadow: var(--box-shadow);
}

/*  End Services Area */


/*  Start Project Area */

.project-area{
    padding:4rem 0 ;
}

.button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
}


.button-group button +button{
    padding-left: 3rem;
}
.our-project >.title h4{
    font: normal 700 25px/12px var(--roboto);
    
}

.our-project a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}





/*  End Project Area */


/*  Start Client Area */

.about-title p{
    padding: 1rem 7rem;
}

.client{
    background:#ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.client-img{
    padding: 2rem;
    
}

.about-client{
    padding-top: 2rem;

}

.about-client h4{
    font: normal 600 21px/20px var(--roboto);
}

.about-client p{
    font-size: 24px;
}

.owl-item{
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.owl-theme .owl-dots .owl-dot.active span{
    background:var(--primary-color2);
    width:12px;
    height: 12px;

}

/*  End Client Area */


/*  Star Subscribe area */

.subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat 80px 10px;

    padding: 10rem 0;
    margin: 3rem auto;
}

.subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/30px var(--roboto);
    color: whitesmoke;


}
.subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding-inline-end: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: black;
    font: normal 600 17px/20px var(--roboto);

}

.subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;

}

.subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color:#000;
    padding: .35rem 2rem;
}




/*  End Subscribe area */




/*  Star Footer Area */

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;

}

footer.footer-area .social h5{
    font: normal 600 23px/30px var(--roboto);

}
footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;

}
footer.footer-area .social a > i:hover{
    color: var(--primary-color2);

}



/*  End Footer Area */
